body {
  background-color: grey;
}
h1 {
  color: red;
}
h2{
  color: blue;
}
p{
  font-family: verdana;
}
#intro{
  background-color: purple;
}
.hello{
  color: orange;
}
img{
  width: 200px;
  height: 200px;
}
.hidden{
  display: none;
}
form {
  width: 500px;
}
