body {
  background-color: grey;
}
h1 {
  color: red;
}
h2{
  color: blue;
}
p{
  font-family: verdana;
}
#intro{
  background-color: purple;
}
.hello{
  color: orange;
}
img{
  width: 200px;
  height: 200px;
}
.hidden{
  display: none;
}

.round {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  padding: 5px 5px;
}
#contact{
  width: 400px;
  margin: 0 auto;
  margin-top: 100px;
  padding: 3px 5px;
  background-color: red;
}
#contact_form .text-input{
  width: 100%

}
