body {
  background-color: grey;
}
h1 {
  color: red;
}
h2{
  color: blue;
}
p{
  font-family: verdana;
}
#intro{
  background-color: purple;
}
.hello{
  color: orange;
}
img{
  width: 200px;
  height: 200px;
}
.hidden{
  display: none;
}
form {
  width: 500px;
  position: relative;
}
.round {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
}
.contact{
  position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}
